apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: nodejs-app-multi-components-repo
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/n1prkspu-tenant/multi-components-repotest-app-170246361/nodejs-app-multi-components-repo@sha256:03e720c873de401288d3de6a93a140dbba0375a23e654c96c7b2a58fa31d66c7
        name: my-nodejs
        resources: {}
status: {}
